@media screen and (max-device-width: 800px) {
  .explore-project-author, .explore-project-likes, .run-button {
    display: none ;
  }
  .help-list {
    display: none ;
  }
  .help-view {
    left: 0 ;
  }

  .home-section div.center {
    width: auto;
  }

  body {
    zoom: 75% ;
  }

  #code-section {
    zoom: 133.3333334% ;
  }

  #doc-section {
    zoom: 133.3333334% ;
  }

  #projectoptions-left {
    display: none ;
  }
  #projectoptions-right {
    left: 0px ;
  }

  #explore-box-list, #project-list {
    zoom: 70% ;
  }
  
  div::-webkit-scrollbar { display: none ; }
}


@media screen and (max-width: 1100px) {
  header .titlemenu {
    position: fixed ;
    display: block ;
    top: 60px ;
    left: -100% ;
    padding: 10px ;
    background: hsl(200,40%,35%) ;
    white-space: normal ;
    border-bottom: solid 4px rgba(0,0,0,.5) ;
    box-sizing: border-box ;
    width: 100% ;
    transition: left 0.5s ease ;
  }

  header .logo {
    width: 140px ;
    margin-top: 22px ;
  }

  header .main-menu {
    display: inline-block ;
  }

  header .titlemenu li {
    margin: 5px ;
    background: rgba(0,0,0,.2) ;
    padding: 15px 25px;
  }

  header .titlemenu li.selected {
    background: rgba(255,255,255,.2) ;
  }
}

@media screen and (max-width: 1300px) {
  #login-button span {
    display: none ;
  }
  #login-button {
    margin: 0 ;
  }
  #create-account-button span {
    display: none ;
  }
  #login-button i, #create-account-button i {
    margin: 0 ;
  }
}

@media screen and (max-width: 1280px) {
  #header-progress-summary {
    display: none ;
  }
}
