@media screen and (max-device-width: 800px) {
  .explore-project-author, .explore-project-likes, .run-button, #language-setting {
    display: none ;
  }
  .help-list {
    display: none ;
  }
  .help-view {
    left: 0 ;
  }
  #about-menu br {
    display: none ;
  }
  #about-menu {
    bottom: unset ;
    text-align: center ;
    top: 40px ;
    right: 30px ;
    width: unset ;
  }
  #about-menu div {
    margin: 5px 5px ;
  }
  #about-content {
    left: 30px ;
    right: 30px ;
    top: 150px ;
    bottom: 30px ;
  }
}


@media screen and (max-width: 1000px) {
  .titlemenu span {
    display: none ;
  }
  .titlemenu li {
    padding: 16px 18px 15px 18px;
    margin: 4px 1px 0 0;
  }
  .titlemenu li i {
    margin: 0 ;
  }
  .titlemenu li.selected {
    background: rgba(255,255,255,.1);
  }
}

@media screen and (max-width: 1200px) {
  #login-button span {
    display: none ;
  }
  #login-button {
    margin: 0 ;
  }
  #create-account-button span {
    display: none ;
  }
  #login-button i, #create-account-button i {
    margin: 0 ;
  }
}

@media screen and (max-width: 1280px) {
  #header-progress-summary {
    display: none ;
  }
}
