.sounds-right {
  position: absolute ;
  right: 0px ;
  width: 400px ;
  top: 0 ;
  bottom: 0 ;
  overflow: hidden ;
}

#sample-editor {
  position: absolute ;
  top: 40px;
  left: 0 ;
  right: 0 ;
  bottom: 0 ;
  background: #181C20 ;
}

#sample-editor-bg {
  position: absolute ;
  top: 0;
  left: 0 ;
  right: 0 ;
  bottom: 0 ;
  overflow: hidden ;
}

#sample-editor-content {
  position: absolute ;
  top: 0;
  left: 0 ;
  right: 0 ;
  bottom: 0 ;
  pointer-events:none ;
}