.runtime-terminal {
  position: absolute ;
  left: 0 ;
  right: 0 ;
  bottom: 0 ;
  height: 100px ;
  border-left: solid 2px rgba(0,0,0,.5);
  z-index: 2 ;
}
#terminal {
  position: absolute ;
  left: 0 ;
  right: 0 ;
  bottom: 0 ;
  top: 0 ;
  overflow: hidden ;
}



#terminal-toolbar {
  position: absolute ;
  top: 0px ;
  left: 0 ;
  right: 0 ;
  height: 40px ;
  background: hsl(200,30%,30%);
  overflow: hidden ;
  white-space: nowrap;
}
#terminal-toolbar span {
  margin-left: 20px ;
}
#terminal-toolbar * {
  display: inline-block ;
}
#terminal-toolbar .buttons {
  display: inline-block ;
  margin-left: 60px ;
}
#terminal-toolbar .buttons div {
  margin-left: 1px ;
  padding: 10px 15px ;
  cursor: pointer ;
  background: hsl(160,50%,40%);
}
#terminal-toolbar .buttons div:hover  {
  background: hsl(160,50%,60%);
}

#terminal-toolbar .buttons div:active  {
  background: hsl(160,30%,30%);
}
#terminal-toolbar .buttons .selected,
#terminal-toolbar .buttons div.selected:hover
{
  background: hsl(160,20%,35%);
  cursor: default ;
}
#open-debugger-button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 12px 13px;
  background: hsl(300,40%,45%);
  cursor: pointer ;
}


#console-options {
  background: hsl(200,20%,20%);
  display: block ;
  line-height: 25px ;
  white-space: nowrap;
  color: rgba(255,255,255,.8);
  position: absolute ;
  top: 42px ;
  left: 0 ;
  right: 2px ;
  height: 0px ;
  transition-property: height ;
  transition-duration: 0.5s ;
  overflow: hidden ;
}

#console-options > div {
  padding: 20px ;
}



#console-options label {
  margin-left: 5px ;
}



#terminal-view {
  position: absolute ;
  top: 40px ;
  left: 0 ;
  right: 0 ;
  bottom: 40px ;
  background: hsl(200,50%,12%) ;
  font-family: "Ubuntu Mono";
  font-size: 16px;
  overflow: auto ;
/*  box-shadow: 0 0 200px 0 rgba(0,0,0,1) inset;*/
}

#terminal-input-line {
  position: absolute ;
  bottom: 0 ;
  left: 0 ;
  right: 0 ;
  height: 40px ;
  background: hsl(200,50%,15%);
}
#terminal-input-gt {
  position: absolute ;
  left: 0 ;
  width: 10px ;
  top: 0 ;
  bottom: 0 ;
  font-family: "Ubuntu Mono";
  font-size: 20px;
  color: hsl(200,100%,70%);
  padding: 11px 10px ;
}
#terminal-input-container {
  position: absolute ;
  bottom: 0 ;
  left: 30px ;
  right: 0 ;
  height: 40px ;
  border: none ;
  background: hsl(200,50%,15%);
}
#terminal-input {
  position: absolute ;
  bottom: 0 ;
  left: 0 ;
  right: 0 ;
  top: 0 ;
  bottom: 0 ;
  height: 40px ;
  border: none ;
  width: 100% ;
  background: hsl(200,50%,15%);
  font-family: "Ubuntu Mono";
  font-size: 16px;
  color: hsl(200,100%,70%);
  outline: none ;
  padding: 0 0 0 0 ;
}
#terminal-lines {
  padding: 5px ;
  font-family: "Ubuntu Mono";
  font-size: 16px;
  color: hsl(200,100%,80%);
  user-select: text ;
}
#terminal-lines div {
  padding: 0 4px 0 18px ;
  white-space: pre-wrap ;
  line-height: 22px ;
}
#terminal-lines div.error {
  color: hsl(20,100%,70%);
}
#terminal-lines div.input {
  background: rgba(255,255,255,.05) ;
  border-radius: 3px ;
  padding: 0 4px ;
}
#terminal-lines div.input i {
  opacity: .25 ;
}
.fa-ellipsis-v {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
