doctype html
html
  head
    title microStudio
    link(rel="stylesheet" type="text/css" href="/css/404.css")

  body
    div
      img(src="/img/microstudiologo.svg" alt="microStudio")
      br
      div.e404 404
      div Got lost in the code?
      a.button(href="/") Back to microStudio!
