div.about
  div.section-menu#about-menu
    div.selected#about-menu-about #{translator.get("About")}
    div#about-menu-changelog #{translator.get("Changelog")}
    div#about-menu-terms #{translator.get("Terms of use")}
    div#about-menu-privacy #{translator.get("Privacy")}
  div.section-content#about-content

