div.doc-editor#doc-editor

div.horizontal-splitbar#doc-splitbar

div.doc-view#doc-view
  div.doc-render#doc-render
  div#doceditor-start-tutorial <i class="fa fa-play"></i> #{translator.get("Start Tutorial")}
