div.lib-manager#lib-manager
  div.projectoption
    h3 #{translator.get("Libraries")}

    div#your-libs
      h4 #{translator.get("Your Libraries")}
      div.lib-list.plugin-list

    div#public-libs
      h4 #{translator.get("Public Libraries")}
      div.lib-list.plugin-list
